html {

}

body {
/* background-color: red; */
max-width: 1600px;

}

.wrapper {

}

.header {

}

.wrapper {
  padding: 0 10px;
}

.header-wrapper {

}

.header {
  background-image: url(../img/header_bg.jpg);
  background-repeat: no-repeat;
  
}

.header-top {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 20px;
  height: 30px;

  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  
  background-color: rgba(16, 22, 54, 0.2); /* Должно быть 0.2 */
  

}

  .header-nav {
    display: none;
  }

  .header-logo__img {
    width: 90px;
    /*height: 100px;*/
    background-image: url(../img/logo_alt.svg);
    background-size: 90px auto;
    background-repeat: no-repeat;
  }
