* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  text-decoration: none;
  list-style: none;
}
p {
  line-height: 24px;
}
hr {
  margin: 30px auto;
  width: 50px;
  border: none;
  background-color: #000;
  color: #000;
  height: 2px;
}

.hr__mob {
  display: none;
}

.pt {
  padding-top: 100px;
}

.pb {
  padding-bottom: 100px;
}
/* Font for Titles and navigtation */

@font-face {
  src: url("./fonts/Montserrat-Regular.otf");
  font-family: "Montserrat-Regular";
  font-weight: 300;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1.0);

  }
  50% {
    transform: scale(1.3);
  }
}
@keyframes scaleAnimation_2 {
  0% {
    transform: scale(1.0);

  }
  50% {
    transform: scale(1.07);
  }
}


/* Font for content */

body {
  font-family: 'Roboto Slab';
  font-weight: 300;
  color: #555555;
}

/* Header */

.header {
    width: 100%;
    height: 770px;
    transition: height 1s;
    background: #000;
    color: #fff;
    background-image: url(../img/header_bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

    .header-top__logo {
      /* width: 100%; */
      margin-top: 40px;
      margin-left: 14.4%;
    }

    .header-top__nav {
      margin-top: 40px;
      margin-left: 30%;
      margin-right: 14.4%;

    }
      .header-top__nav__items {
        transition: all 1s;
      }

      .header-top__nav__item {
        font-family: 'Montserrat-Regular', sans-serif;
        font-size: 14px;
        color: #fff;
        text-align: center;
        /* Доделать в медиазапросах 32px */
        margin: 0 5px;
      }
        .header-top__nav__item:hover {
          border-bottom: 2px solid #fff;
        }
        .header-top__burger {
          transition: all 1s;
          display: none;
          text-align: right;
          margin-bottom: 10px;
        }

  .header-content {
    position: static;
    /* margin-top: 5%; */
    transition: margin-top 1s;
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;

  }
    .header-content__title {
      /* text-transform: uppercase; */
    }
    .header-content__subtitle {
      padding-top: 15px;
      padding-bottom: 45px;
      line-height: 22px;
    }
    .header-content__button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Montserrat-Regular";
      text-align: center;
      width: 200px;
      height: 50px;
      border: 2px solid #fff;
      border-radius: 2px;
      text-transform: uppercase;

    }

    .header-content a {
    color: #fff;
    }

    .header-content__button:hover {
      background: #fff;
      color: #c0301c;
      animation: scaleAnimation 3s infinite;
    }

/* Main */

  .main {
/*margin-top:
Понять что за хуйня с белой полосой*/
    margin-top: -21px;
    width: 100%;
    background: #fff;
  }
    .main-service {
      padding-top: 100px;
      padding-bottom: 100px;
      margin-left: 14.4%;
      margin-right: 14.4%;
      /* Поменять width для .main-service-items */

      /*Поменять display flex на margin*/
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
      .main-service__title {
        margin: 0 auto;
        font-family: 'Montserrat-Regular', sans-serif;
        text-transform: uppercase;
        text-align: center;
      }

      .main-service__subtitle {
        margin: 0 auto;
        margin-bottom: 78px;
        text-align: center;
        line-height: 24px;
      }

      .main-service-items {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        justify-content: space-between;
        flex-wrap: wrap;
        /* width: 71.3%; */
      }
        .main-service__item {
          width: 28.8%;
          text-align: center;
          padding: 0px 7px;
          margin-bottom: 20px;
          /* margin-left: 45px; */

        }

         .main-service__img {
          margin-bottom: 30px;
        }

        .main-service__img_2 {
          animation: scaleAnimation_2 4s infinite;

        }

        .main-service__item__title {
          margin-bottom: 25px;
          text-transform: uppercase;
          font-size: 14px;
          font-family: 'Montserrat-Regular';

        }

        .main-service__item__text {
          font-size: 14px;
          line-height: 24px;
        }

        .main-service__hr__line {
          display: none;
        }

  /* End of Service */

  /* About Section */

  .main-about {
    width: 100%;
    background-color: #f8f8f8;
    text-align: center;

  }
    .main-about__title {
      padding-top: 100px;
    }
    .main-about__subtitle {
      margin-bottom: 77px;
    }
    .main-about__text {
      margin-left: 14.4%;
      margin-right: 14.4%;
      /* width: 90%; */
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 73px;
      /* Доделать ширину так чтобы правая картинка не вылезала за текст справа */
      width: 71%;
    }

    .main-about__text p {
      text-align: left;
      width: 45%;
    }

    .main-about__images {
      /*! margin-left: 14.4%; */
      /*! margin-right: 14.4%; */
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 100px;

      /* Доделать ширину так чтобы правая картинка не вылезала за текст справа */
      width: 71%;

      margin: 0 auto;
    }

    .main-about__image-container {
      width: 233px;
      height: 221px;
      border: 0px;
      position: relative;
      padding-bottom: 1em;
    }

    .main-about__image {
      width: 233px;
      height: 221px;
      border: 0px;
    }

    .main-about__image-container-mob, .main-about__image-mob {
      display: none;
    }

    .main-about__image-container::before {
      opacity: 0;
      transition: all 0.5s;
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 93%;
      /* background-color: red; */
      background-color: rgba(166, 166, 166, 0.6);
      content: '';
    }

    .main-about__social-hover {
      opacity: 0;
      transition: all 1s;
      display: flex;
      position: absolute;
      left: 60px;
      bottom: 25px;

    }

    .main-about__social-hover i {
      color: #fff;
      font-size: 23px;
      margin-left: 20px;
      padding: 5px;
    }
    .main-about__social-hover i:hover {
      background: #c0301c;
      border-radius: 5px;
    }

    .main-about__image-container:hover::before {
      opacity: 1;
    }
    .main-about__image-container:hover .main-about__social-hover {
      opacity: 1;
    }

  /* End of About */

  /* Portfolio Section */

  /* Доделать Портфолио по ширине вместе со всеми эллементами.
  Картинки из портфолио должны быть в ровень с картинками наверху. */
  .main-portfolio {
    width: 98%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 70px;

  }

    .main-portfolio__title {
      padding-top: 70px;
    }

    .main-portfolio__menu {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding-bottom: 74px;
      margin: 0 auto;
    }
    .main-portfolio__menu__item {
      margin: 0 15px;
      padding-bottom: 10px;

    }
    .main-portfolio__menu__item:hover {
      /* border-bottom: 2px solid #c0301c; */
      color: #c0301c;
    }


  /* Portfolio Gallery */


    .main-portfolio__gallery {
      margin: 0 auto;
      width: 100%;
    }
      .portfolio__gallery {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }

        .portfolio__gallery__item {
          margin: 0.3em;
        }
        .portfolio__gallery__item img {
          border-radius: 7px;
          opacity: 0.9;
          transition: opacity 0.3s;
        }

        .portfolio__gallery__item:hover img {
          transition: opacity 0.3s;
          opacity: 1;
        }

  /* END OF Portfolio Gallery */

/* END OF Portfolio Section */


  /* Contact FORM Section */

    .main-contacts {
    background-color: #f8f8f8;

    }

    .contacts-wrapper {
      width: 72%;
      margin: 0 auto;
    }

      .main-contacts__title {
        text-align: center;

      }
      .main-contacts__subtitle {
        padding-bottom: 74px; /* Минус 20px от margin input в form */
        text-align: center;
      }

      .contacts-content__right {
        margin: 0 auto;
        /*width: 50.6%;*/
        max-width: 730px;
        display: flex;
        flex-direction: column;
      }

      .contact__form__top {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }


      /*Form Validation*/

      .contact__form__item {
        background-color: transparent;
      }


      .red__input {
        border: 1px solid #c0301c;
        }

      .regular__input {
        border: 1px solid #000;
      }

      .contacts__form input, textarea {
        padding-left: 17px;
      }

      .contacts__form input {
        width: 350px;
        /*min-width: 200px;*/
        height: 44px;
        margin-bottom: 22px;
      }

      .contacts__form textarea {
        padding-top: 15px;
        max-width: 730px;
        height: 104px;
        margin-bottom: 22px;

      }

      .contacts__form button {
        /*opacity: 0;*/
        transition: all 0.5s;
        width: 170px;
        height: 45px;
        background-color: inherit;
        border: 1px solid #000;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 15px;

      }
      .contacts__form button:hover {
        background-color: #c0301c;
        color: #fff;
      }

      .alert_message {
        opacity: 0;
        transition: all 0.5s;
      }

      .contact__form__bottom {
        display: flex;
        flex-direction: column;
      }

        .contacts-content__left {
          display: none;
        }

        .contacts-content__right {

        }


/* Footer */

footer {
  background-color: #c0301c;
  text-align: center;
}
  .footer-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fff;
    padding-top: 100px;
  }
  .footer-social li {
    padding: 15px;
    margin: 0 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    }
    .footer-social li:hover {
      color: #c0301c;
      background-color: #fff;
  }
    .footer-social i {
      font-size: 1.6em;
      }

      .footer-hr {
        background-color: #fff;
        color: #fff;
      }
  footer p {
    color: #fff;
    padding-bottom: 100px;
  }
@media screen and (max-width: 1080px) {
  .portfolio__gallery {
    /* display: none; */
  }
  .portfolio__gallery li:last-child {
    display: none;
  }
}

@media screen and (max-width: 1257px) {
      .header-top__nav {
        margin-left: 10%;
      }
}

@media screen and (max-width: 1310px) {
      .main-about__image2, .main-about__image4 {
      display: none;
    }
}


@media screen and (max-width: 845px) {
      .header-top__nav__item {
      display: none
      }
      .header-top__nav .header-top__burger {
        display: block;
        color: #fff;
        font-size: 35px;
      }
      .header-top__nav {
        position: absolute;
        right: 0px;
        top: 15px;
      }
      .header-top__nav.responsive {

      }
      .header-top__nav.responsive a {
        float: none;
        display: block;
        text-align: right;
        /* margin-bottom: 17px; */
        margin-bottom: 4px;
      }
      .header-top__nav__item {
        border: 1px solid rgba(0,0,0, 0);
        padding: 1em 1.4em;
        /* font-size: 1em; */
        background-color: rgba(192, 48, 28, 0.85);
      }
      .header-top__nav__item:hover {
        border-bottom: 1px solid rgba(0,0,0, 0);
        background-color: rgba(192, 48, 28, 1);
        transition: all 0.5s;
      }
      .header-top__nav__item:out-of-range {
        background-color: green;

      }

      .header-top__nav__item:hover::before {

      }

@media (max-width:320px) {

  /*Service Mobile Version*/
  .main-service__title {
    font-size: 1.5em;
  }
  .main-service__subtitle {
    font-size: 1em;
  }

  .main-service__item__text {
    text-align: center;
    font-size: 1em;
  }

  .main-portfolio__gallery {
    margin: 0 auto;
    width: 100%;
  }
  .portfolio__gallery {
    margin: 0 auto;
    width: 100%;
  }
  .portfolio__gallery img {
    border-radius: 4px;
    width: 99%;
  }
}


@media screen and (max-width: 768px) {

  /* Portfolio Gallery  */

  .main-portfolio__gallery {
    margin: 0 auto;
    width: 100%;
  }
  .portfolio__gallery {
    /* width:  */
  }
  .portfolio__gallery li:last-child {
    display: none;
  }
  .portfolio__gallery__item img {
    opacity: 1;
    transition: opacity 0.3s;
  }
  /* end of portfolio__gallery */

      /* HEADER  */

      .header {
        transition: all 1s;
        height: 385px;
    }

    .header-content {
      transition: all 1s;
      margin-top: auto;
    }

    /* END OF HEADER */
      .pt {
        padding-top: 50px;
      }

      .pb {
        padding-bottom: 50px;
      }

      .main-service {
        justify-content: center;
        margin-left: 5.4%;
        margin-right: 5.4%;
      }

      .main-service-items {
        /* -webkit-flex-direction: column;
        -ms-flex-direction: column; */
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;

      }
      .main-service__item {
        width: 89%;
      }
      .main-service__item__text {
        text-align: justify;
      }
      .main-service__img {
        /* transition: all 5s; */
        width: 120px;
        height: 120px;
      }
      .main-service__hr__line {
        margin: 40px auto;

        display: none;
        background-color: #727272;
        color: #000;
        /* Может поменять на 2px */
        height: 1px;
  }
    /* About */

    .main-about__text {
      margin: 0 auto;
      align-items: center;
      flex-direction: column;
      padding-bottom: 35px;
    }

    .main-about__text p {
      width: 100%;
      text-align: justify;
    }
    .main-about__image3 {
      margin: 0 auto;
      margin-top: 1em;

    }

    .main-about__image1, .main-about__image2, .main-about__image4 {
      display: none;
    }
    .main-about__image-container-mob, .main-about__image-mob {
      display: block;
    }
    .main-about__image-container-mob {
      margin-top: 2em;
      margin-bottom: 2em;
    }


    /* Contacts Form */

      .contacts-wrapper {

         width: 94%;
         margin: 0 auto;

      }
    }

@media screen and (max-width: 744px) {

        .contacts-content__right {
          margin: 0 auto;
          display: flex;
          justify-content: center;
        }
        .contacts__form {
          display: flex;
          flex-direction: column;
          justify-content: center;
      }

        .contact__form__top {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center;
          margin: 0 auto;
          width: 63.5%

        }
        .contacts__form input {
          width: 100%;
        }
        .contact__form__bottom {
          margin: auto;
        }

        .contacts__form textarea {
          margin: 0 auto;
          margin-bottom: 20px;
          width: 100%;
          height: 200px;
        }

        .form__button {
          margin: 0 auto;
        }

        .alert_message {
          margin: 0 auto;
        }
}
